body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4 {
  color: #004d99;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
